@tailwind base;
@tailwind components;
@tailwind utilities;


/* Spotify Search Menu Scrollbar */

  #searchMenu ul::-webkit-scrollbar {
    height: 5px;
    width: 6px;
  }

  #searchMenu ul::-webkit-scrollbar-track {
    -webkit-margin-after: 8px;
    margin-block-end:8px
  }


  #searchMenu ul::-webkit-scrollbar-thumb {
    background-color: rgba(150,150,150,.3);
    border-radius: 4px;
  }

  #searchMenu ul::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100,100,100,.3);
    border-radius: 4px
  }